@import "~bootstrap/scss/bootstrap.scss";

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#app{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;   
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.palo{
    width: 15px;
    height: 150px;
    background-color: black;
}
.traffic{
    display: flex;
    background-color: black;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 130px;
    height: 350px;
    border-radius: 20px;
}
.select1{
    background-color: red;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
.select2{
    background-color: yellow;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
.select3{
    background-color: green;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
.selected{
    box-shadow: 0px 0px 100px 40px white;
}